**1) DESCARGAMOS LIBRERIAS**

In [1]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns

**2) PROBAMOS CON UN SOLO CANAL**

**A. DEFINIMOS LAS VARIABLES NECESARIAS PARA EXTRAER LA DATA DEL CANAL**

In [2]:
api_key = 'AIzaSyAJ4YImbTQRHWvs2XkYB3jIKyHjGA2E_qo'
channel_id = 'UCnz-ZXXER4jOvuED5trXfEA'

youtube = build('youtube', 'v3', developerKey=api_key)

**B. DEFINIMOS FUNCION PARA OBTENER LA DATA DEL CANAL**

In [23]:
def get_channel_stats(youtube, channel_id):
      request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_id))
      response = request.execute() 
  
      return response

**C. CREAMOS UNA FUNCION PARA ORGANIZAR LA DATA Y ASI, FACILITAR SU COMPRESION**

In [47]:
def get_channel_stats(youtube, channel_id):
  request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=channel_id)
  response = request.execute() 
  
  data = dict(channel_name = response['items'][0]['snippet']['title'],
                    Subscribers = response['items'][0]['statistics']['subscriberCount'],
                    Views = response['items'][0]['statistics']['viewCount'],
                    Total_videos = response['items'][0]['statistics']['videoCount'],
                    playlist_id = response['items'][0]['contentDetails']['relatedPlaylists']['uploads'])
        
  return data

In [48]:
get_channel_stats(youtube, channel_id)

{'channel_name': 'techTFQ',
 'Subscribers': '183000',
 'Views': '8858104',
 'Total_videos': '87',
 'playlist_id': 'UUnz-ZXXER4jOvuED5trXfEA'}

**3) PROBAMOS CON CINCO CANALES**

**A. DEFINIMOS VARIABLE QUE CONTIENE LOS LOS ID DE LOS CINCO CANALES**

In [49]:
channel_ids = ['UCnz-ZXXER4jOvuED5trXfEA', # techTFQ
               'UCLLw7jmFsvfIVaUFsLs8mlQ', # Luke Barousse 
               'UCiT9RITQ9PW6BhXK0y2jaeg', # Ken Jee
               'UC7cs8q-gJRlGwj4A8OmCmXg', # Alex the analyst
               'UC2UXDak6o7rBm23k3Vv5dww' # Tina Huang
              ]

**B. CREAMOS FUNCION PARA EXTRAER LA DATA DE LOS CINCO CANALES**

In [50]:
def get_channel_stats(youtube, channel_ids):
    all_data = []
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_ids))
    response = request.execute() 
    
    for i in range(len(response['items'])):
        data = dict(Channel_name = response['items'][i]['snippet']['title'],
                    Subscribers = response['items'][i]['statistics']['subscriberCount'],
                    Views = response['items'][i]['statistics']['viewCount'],
                    Total_videos = response['items'][i]['statistics']['videoCount'],
                    playlist_id = response['items'][i]['contentDetails']['relatedPlaylists']['uploads'])
        all_data.append(data)
    
    return all_data

In [51]:
channel_statistics = get_channel_stats(youtube, channel_ids)

In [52]:
channel_data = pd.DataFrame(channel_statistics)
channel_data

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,techTFQ,183000,8858104,87,UUnz-ZXXER4jOvuED5trXfEA
1,Luke Barousse,330000,15060419,133,UULLw7jmFsvfIVaUFsLs8mlQ
2,Alex The Analyst,429000,16733912,200,UU7cs8q-gJRlGwj4A8OmCmXg
3,Tina Huang,499000,21100416,120,UU2UXDak6o7rBm23k3Vv5dww
4,Ken Jee,239000,7803532,271,UUiT9RITQ9PW6BhXK0y2jaeg

**C. CREAMOS UNA FUNCION PARA OBTENER VIDEOS ID's**

In [54]:
playlist_id = channel_data.loc[channel_data['Channel_name']=='Ken Jee', 'playlist_id'].iloc[0]

In [55]:
def get_video_ids(youtube, playlist_id):
    
    request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId = playlist_id,
                maxResults = 50)
    response = request.execute()
    
    video_ids = []
    
    for i in range(len(response['items'])):
        video_ids.append(response['items'][i]['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    more_pages = True
    
    while more_pages:
        if next_page_token is None:
            more_pages = False
        else:
            request = youtube.playlistItems().list(
                        part='contentDetails',
                        playlistId = playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
            response = request.execute()
    
            for i in range(len(response['items'])):
                video_ids.append(response['items'][i]['contentDetails']['videoId'])
            
            next_page_token = response.get('nextPageToken')
        
    return video_ids

In [56]:
video_ids = get_video_ids(youtube, playlist_id)
video_ids

['r3zOpjEOkgE',
 's-XYFEzy9Wc',
 'iBh1wl4o6V4',
 'L6lXKdP4Qbg',
 'xGDl6rlBygU',
 'SY6y6Y8C594',
 '1RUj2aLQx8I',
 'MkzZXSw1Glk',
 '9neDFXTxKxA',
 'UaNNVukM27g',
 '3lN0-S3symM',
 'M-AN8eWLxms',
 'MXFZhbvQqM8',
 '54n61XjKifI',
 'pyWYIRR8rrE',
 'onwRfbt--cw',
 'u6P23ouSYhA',
 'RMMVuvS7S_g',
 '5AwbPAV8FS0',
 'A2OQgU0IRNo',
 'x5Q_nrIqFik',
 '7ja2ELBVMlU',
 'Z2MyLQa_vVw',
 'JTlB9fwYRk0',
 'OJDf_fTENJ4',
 'nqCkdqhV-JY',
 'b8t8lDL13sg',
 't6CD1EwU5kc',
 'eIxHe45hzhQ',
 '3NJOWWvNK3I',
 '4_VtMWJSo1o',
 'OybXWl3IWvI',
 'nRHPQ5ZeB5Y',
 '0JWC4M0Qhqc',
 'oNvyvYGw5n4',
 'GaZRuchRCyw',
 'EBjYqC3aNTA',
 'QMP858aZcow',
 '0ItYIoOrrUs',
 'KzTFoUbThvM',
 'bBJd0oPdNak',
 'Yk-unX4KnV4',
 'z0_xrtFdFj8',
 'vVpkXEIn-q0',
 'aipz4p7GDL4',
 'iPdO9MwdcLE',
 'YPph59-rTxA',
 '-2U2CMYom00',
 'KEeUR8UDy-s',
 '0jTtHYie3CU',
 '2RWwN5ZT4tA',
 'rEWPqw6rMGI',
 'o-wsyxWbPOw',
 'xpIFS6jZbe8',
 '-zbLpoJVBMI',
 'scSc6YSanQ0',
 'FqNpDNmpcEo',
 'vwvdtXMcNzI',
 '2qVWurPFwfc',
 '35g8fCi-kbw',
 'n6MiRgxN5iA',
 'ammCGdzSoag',
 '15c7WD-lKUY',
 'TjGFBQC27ng',
 'qUK5Vk4NvBw',
 'cnqTU6eJwH0',
 'k8YxyrcAXJs',
 'VvnOXDCVm8k',
 '68GGPK3WaqI',
 'S4Lei5mOppc',
 'tG_UW_p0UqE',
 '143WWA5Sy9k',
 's1gD35Z4eUc',
 'nrEJGGxcoTc',
 'KfpOuSH9gDc',
 'sICJ6a2wX5g',
 'iiSZqsQKNX8',
 'IoUWD1h6xUs',
 '7JCterBrcvk',
 'KU__lDJj5iU',
 '8nTmuKI2oyA',
 'SaWxVk7rDp4',
 'n7kjelw9s2w',
 '8Pi36Nj6P9A',
 'hOUrxTeBJQc',
 '-ONQ628CXKQ',
 'sHRq-LshG3U',
 'EMq4PH7PCeA',
 'BlSrorP32WM',
 'pPfw2fzwNiM',
 'hcHSSyHbgMQ',
 'ITAxTid_1YU',
 'fU3DOXjwufg',
 'tJI-1mHeXoA',
 'SVtRsDhHlDk',
 'OtqQYqRNDGI',
 'uic34RTaI-w',
 'GO420aMtHfk',
 'KQ80oD_boBM',
 'r-DR9HBaipU',
 'qV_AlRwhI3I',
 '41Clrh6nv1s',
 'YR9Faf1uZDg',
 'myhoWUrSP7o',
 'ji7DtgUeKCI',
 '4039x4r-hGE',
 '78LjdAAw0wA',
 'yUrrf3Pm33s',
 'domVw8isGOI',
 '_0rHU6qAQe0',
 'tnpV1etgcxs',
 'Uf0dO-pgOrk',
 'N97MhZEp2UQ',
 '1Ir1NgCuI0Y',
 'd6FeV8WXPWY',
 'WRF_dKZ_i24',
 'UpaEjBOMNqs',
 'UKuK2fXu_dU',
 'Ft4GVkQQtgk',
 'BBDiadC8BvE',
 '7VcdvSyoxnc',
 '8Vxjp2KVHqs',
 'Kq9dkZu0bpg',
 'omdhf8d53FM',
 'apf6A3Nstm8',
 'jf3j0lWmFPU',
 'g7on3Rw0Ovg',
 'rLawTH--l2Y',
 '-pdXWmj9xxU',
 'vfV4nm004VQ',
 'oHUD2T_VXfI',
 'uXLnbdHMf8w',
 '5v_ulmGv-gc',
 'q6Lf2yhvluw',
 'iGUiLWFDWfk',
 'SsGKZe4dVyk',
 'RAMxzqSMDKE',
 'YbTMIxjk4hI',
 'S_CuB__nsmI',
 'KEBVcVwFzaI',
 'vQGJvmhpq_s',
 'Xgg7dIKys9E',
 'UuR3nomI5AE',
 '6tQtwqthUMI',
 'QN3wXPZSjpE',
 'rdo8YBasqqA',
 '_rbrdNTpZGo',
 'ELFGsNqZrlM',
 'PWmxLYTixAM',
 'I3FBJdiExcg',
 'hO_YKK_0Qck',
 '2KkrtG5IsHo',
 'QQLToUlgN7A',
 '6aaIbd-GpZs',
 'lsXWVPzwZPk',
 'AqPquogHwq0',
 '742LQ38OioU',
 'B1g_yMKpdwo',
 'zGlJ-QndG8E',
 '6fwyyRgZlD0',
 '-3d1NctSv0c',
 'WnB1jsDu900',
 'XjC3FPL-S78',
 'txR8_jGi0Ls',
 '4qZINLzwYyk',
 'mR2NCRgtLPE',
 'mEZ1Hj5yQ-8',
 'HJH0gfY6EUg',
 'BZFfNwj7JhE',
 '_K6cNdgN3CI',
 '1aXk2RViq3c',
 'UcilY6HDuL8',
 'jam0xApfC-U',
 '4OZip0cgOho',
 'QBIe4nbmZfA',
 'KHAuuOQui2U',
 'DW55gaQ_Egk',
 'lUUqrRgerd8',
 'ei1m5lDQyBg',
 '9D7GzskcyUk',
 'agHKuUoMwvY',
 'nUOh_lDMHOU',
 '7O4dpR9QMIM',
 'QWgg4w1SpJ8',
 'fhi4dOhmW-g',
 'GmW4F6MHqqs',
 'MpF9HENQjDo',
 '9ZwVqXUHf6o',
 'a3VWq9smqhM',
 'oMdVg6GPODA',
 'vy-R4oUZaC8',
 'XGBigjVy2Eo',
 'hpMc6TgT34I',
 'Fs_LG5Y8GIU',
 'Ip50cXvpWY4',
 'imMPnCHvbkY',
 '3bes4U4MHPg',
 'qP0hRF-lGqg',
 'aaAZXeuPIXk',
 'C4OPn58BLaU',
 '8igH8qZafpo',
 'xjhW1rSQeik',
 'DM1eE_Coh6g',
 'f6NPw582FFc',
 'dlZWB2D-NaQ',
 'foggudmDDvY',
 'n3vw0M5RrPU',
 '2OnXytYziF0',
 'Q9FjwzKFPuM',
 'VN12ZPFsApM',
 'WKXtTo7lqmA',
 '9-2OKLZfvbE',
 '3TrAYmrmA8o',
 '5SjK6YCs4o4',
 'iqG59TqfFdY',
 'NCyPY-jfb3I',
 'DopikusDfk0',
 'm5pwx3hgtzM',
 '74Z3F7i4qcI',
 'zSwM5uVeylU',
 'BXmEmIK5aqI',
 'SLC5sPZSLY4',
 'EAezvs0eL1s',
 'k4r_NtB4JVQ',
 'ZWdyBbgGZBQ',
 '1FrY7ARSf10',
 'LGEuDWjWQes',
 'fjVVtvp5X0w',
 '-kX2b6TF_9k',
 '3ysXGYjvbSU',
 'akbU9KOo_Qc',
 '3BEtGaz70rQ',
 'RRXWJVX0fE8',
 'k-gin1qfzi0',
 'Zz_Mx1UPswI',
 '3Mm1U1CbzNw',
 '4yI3vVe0Jos',
 'pWVQ0vN5uig',
 'a-Syoa9mPhM',
 'yukdXV9LR48',
 'XWetgrNas-k',
 'yIJrCFXs0rU',
 'Z9dGmL2G-4k',
 'T7BQJJIGrmc',
 'T77uVbLhroQ',
 '1Cf7SdnBncg',
 '3cDM9Z-fdz4',
 'Yr5T3T4tq-g',
 'KMOA5arCi8g',
 'Z_KFh-HqaBA',
 '5jntoZX-Tc8',
 'AxP1CL0yaFQ',
 'zF_Q2v_9zKY',
 '4CpmB4TR2C4',
 '6sJEnzDjJqI',
 '1UjMBw_7Gi8',
 'q8cEt8gj3zY',
 '_CS4u9cORwA',
 'XTrlMQXYqts',
 'smeFkHwnM_k',
 'sq5TnVJWv6A',
 'XoUyK3XHZHs',
 'tv1e22u2COk',
 'j-Z-je6K4Yg',
 'sCOX5yShmFA',
 'FBgs-BSTIJE',
 'irjTWNV0eAY',
 'RRSRKf9eQxc',
 'IFceyuL6GZY',
 'Y_SMU701qlA',
 'qfRhKHV8-t4']

**D. CREAMOS FUNCION PARA OBTENER LOS DETALLES DE LOS VIDEOS OBTENIDOS**

In [62]:
def get_video_details(youtube, video_ids):
    all_video_stats = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
                    part='snippet,statistics',
                    id=','.join(video_ids[i:i+50]))
        response = request.execute()
        
        for video in response['items']:
            video_stats = dict(Title = video['snippet']['title'],
                               Published_date = video['snippet']['publishedAt'],
                               Views = video['statistics']['viewCount'],
                               Likes = video['statistics']['likeCount'],
                               Comments = video['statistics']['commentCount']
                               )
            all_video_stats.append(video_stats)
    
    return all_video_stats

In [63]:
video_details = get_video_details(youtube, video_ids)
video_data = pd.DataFrame(video_details)

In [64]:
video_data = pd.DataFrame(video_details)

In [65]:
video_data['Published_date'] = pd.to_datetime(video_data['Published_date']).dt.date
video_data['Views'] = pd.to_numeric(video_data['Views'])
video_data['Likes'] = pd.to_numeric(video_data['Likes'])
video_data['Views'] = pd.to_numeric(video_data['Views'])
video_data

,Title,Published_date,Views,Likes,Comments
0,Your current portfolio is actually hurting you...,2023-03-30,1555,82,0
1,"Traditional ""networking"" is stupid. Do THIS in...",2023-03-27,2690,165,2
2,you're job searching wrong. #shorts,2023-03-23,2303,132,3
3,The Economics of Data Roles #shorts,2023-03-21,2267,144,0
4,Why your phone knows everything you say #shorts,2023-03-18,2227,100,6
...,...,...,...,...,...
266,How to Simulate NBA Games in Python,2018-11-19,17064,383,54
267,Should You Get A Masters in Data Science?,2018-11-14,20375,304,141
268,How I Became A Data Scientist From a Business ...,2018-11-12,6318,195,23
269,Predicting Season Long NBA Wins Using Multiple...,2018-07-10,8407,191,17
270,Predicting Crypto-Currency Price Using RNN lST...,2017-11-18,18566,290,41

In [67]:
top10_videos = video_data.sort_values(by='Views', ascending=False).head(10)
top10_videos

,Title,Published_date,Views,Likes,Comments
173,How I Would Learn Data Science (If I Had to St...,2020-05-08,1384054,48893,2000
194,The Best Free Data Science Courses Nobody is T...,2020-03-09,338080,20901,617
53,How I Would Learn Data Science in 2022 (If I H...,2021-12-27,327002,14555,529
200,3 Proven Data Science Projects for Beginners (...,2020-02-17,314845,17404,519
149,Beginner Kaggle Data Science Project Walk-Thro...,2020-07-17,289601,6631,401
186,Data Science Project from Scratch - Part 1 (Pr...,2020-04-03,159305,4334,162
239,The Projects You Should Do To Get A Data Scien...,2019-07-30,146954,5643,252
86,Why You Probably Won't Become a Data Scientist,2021-04-09,133651,3917,483
101,How I Would Learn Data Science in 2021 (What H...,2020-12-19,130863,5973,494
199,How to Set Up Your Data Science Environment (A...,2020-02-21,114966,2265,99