<a href="https://colab.research.google.com/github/malenagarro/SextaEntrega/blob/main/YTAnalisis2_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1) DESCARGAMOS LIBRERIAS**

In [1]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns

**2) PROBAMOS CON UN SOLO CANAL**

**A. DEFINIMOS LAS VARIABLES NECESARIAS PARA EXTRAER LA DATA DEL CANAL**

In [2]:
api_key = 'AIzaSyAJ4YImbTQRHWvs2XkYB3jIKyHjGA2E_qo'
channel_id = 'UCnz-ZXXER4jOvuED5trXfEA'

youtube = build('youtube', 'v3', developerKey=api_key)

**B. DEFINIMOS FUNCION PARA OBTENER LA DATA DEL CANAL**

In [23]:
def get_channel_stats(youtube, channel_id):
      request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_id))
      response = request.execute() 
  
      return response

**C. CREAMOS UNA FUNCION PARA ORGANIZAR LA DATA Y ASI, FACILITAR SU COMPRESION**

In [47]:
def get_channel_stats(youtube, channel_id):
  request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=channel_id)
  response = request.execute() 
  
  data = dict(channel_name = response['items'][0]['snippet']['title'],
                    Subscribers = response['items'][0]['statistics']['subscriberCount'],
                    Views = response['items'][0]['statistics']['viewCount'],
                    Total_videos = response['items'][0]['statistics']['videoCount'],
                    playlist_id = response['items'][0]['contentDetails']['relatedPlaylists']['uploads'])
        
  return data

In [48]:
get_channel_stats(youtube, channel_id)

{'channel_name': 'techTFQ',
 'Subscribers': '183000',
 'Views': '8858104',
 'Total_videos': '87',
 'playlist_id': 'UUnz-ZXXER4jOvuED5trXfEA'}

**3) PROBAMOS CON CINCO CANALES**

**A. DEFINIMOS VARIABLE QUE CONTIENE LOS LOS ID DE LOS CINCO CANALES**

In [49]:
channel_ids = ['UCnz-ZXXER4jOvuED5trXfEA', # techTFQ
               'UCLLw7jmFsvfIVaUFsLs8mlQ', # Luke Barousse 
               'UCiT9RITQ9PW6BhXK0y2jaeg', # Ken Jee
               'UC7cs8q-gJRlGwj4A8OmCmXg', # Alex the analyst
               'UC2UXDak6o7rBm23k3Vv5dww' # Tina Huang
              ]

**B. CREAMOS FUNCION PARA EXTRAER LA DATA DE LOS CINCO CANALES**

In [50]:
def get_channel_stats(youtube, channel_ids):
    all_data = []
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_ids))
    response = request.execute() 
    
    for i in range(len(response['items'])):
        data = dict(Channel_name = response['items'][i]['snippet']['title'],
                    Subscribers = response['items'][i]['statistics']['subscriberCount'],
                    Views = response['items'][i]['statistics']['viewCount'],
                    Total_videos = response['items'][i]['statistics']['videoCount'],
                    playlist_id = response['items'][i]['contentDetails']['relatedPlaylists']['uploads'])
        all_data.append(data)
    
    return all_data

In [51]:
channel_statistics = get_channel_stats(youtube, channel_ids)

In [52]:
channel_data = pd.DataFrame(channel_statistics)
channel_data

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,techTFQ,183000,8858104,87,UUnz-ZXXER4jOvuED5trXfEA
1,Luke Barousse,330000,15060419,133,UULLw7jmFsvfIVaUFsLs8mlQ
2,Alex The Analyst,429000,16733912,200,UU7cs8q-gJRlGwj4A8OmCmXg
3,Tina Huang,499000,21100416,120,UU2UXDak6o7rBm23k3Vv5dww
4,Ken Jee,239000,7803532,271,UUiT9RITQ9PW6BhXK0y2jaeg